.accordion {
  align-items: center;
  color: #dedede;
  display: flex;
  flex-direction: column;
  font: 45px 'Nunito', sans-serif;
  font-weight: 900;
  justify-content: center;
  padding: 10px 0;
  position: relative;
}

.accordion::before {
  background: #f1f1f1;
  border-radius: 5px;
  content: '';
  height: 6px;
  position: absolute;
  right: -25px;
  transform: rotate(45deg);
  transition: all .4s ease;
  width: 15px;
}

.accordion:hover::before {
  right: -32px;
  transition: all .4s ease;
}

.accordion::after {
  background: #f1f1f1;
  border-radius: 5px;
  content: '';
  height: 6px;
  position: absolute;
  right: -32px;
  transform: rotate(-45deg);
  transition: all .4s ease;
  width: 15px;
}

.accordion:hover::after {
  right: -25px;
  transition: all .4s ease;
}



.panel {
  height: 0px;
  overflow: hidden;
  transition: all .5s ease;
}

.is-active {
  height: 100%;
  transition: all .5s ease;
}

@media (max-width: 414px) {
  .accordion {
    font: 25px 'Nunito', sans-serif;
  }
}
