.modal {
  display: none;
  position: absolute;
  float: left; 
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: 10% auto;
  width: 60%;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header h2,
.modal-footer h3 {
  margin: 0;
  font: 25px 'Trebuchet MS';
  font-weight: 900;
}

.modal-header {
  background: var(--modal-color);
  padding: 15px;
  color: #f1f1f1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-body {
  /* align-items: center;
  display: flex;
  justify-content: center; */
  border-radius: 3px;
  font: 20px 'Trebuchet MS';
  padding: 5px 22px;
  background: #f1f1f1;
}

.modal-body h2 {
  margin-top: 20px;
  text-align: center;
}

.modal-body p {
  border-bottom: 1px solid #a9a9a9;
  margin-top: 12px;
  padding-bottom: 25px;
  text-align: center;
}

.modal-footer {
  padding: 10px;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: right;
}

.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
