/* DEFAULT */

* {
  margin: 0 auto;
  scroll-behavior: smooth;
}

body {
  cursor: url("../img/click.png"), default !important;
}

body::-webkit-scrollbar {
width: 0.8em;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
body::-webkit-scrollbar-thumb {
 background-color: tomato;
 outline: 1px solid slategrey;
}

a {
  color: #dedede;
}

/* SECTIONS */

.story {
  background: #d63b1f;
  margin: 0 auto;
  position: relative;
}

/* Baptixta */

.logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;
}

.baptixta {
  color: #dedede;
  animation: float 4s ease-in-out infinite;
  max-width: 100%;
  height: auto;
  transition: all 2s ease;
}

/* Arrow */

#first-arrow {
  transition: all 2s ease;
}

.arrow {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
}

.arrowExperience {
  margin-top: 6em;
}

.arrow::before {
  background: #dedede;
  content: '';
  height: 10px;
  position: absolute;
  transform: rotate(45deg);
  transition: all .3s ease-in-out;
  width: 35px;
}

.arrow:hover::before {
  height: 18px;
  width: 50px;
  transition: all .3s ease-in-out;
}

.arrow::after {
  background: #dedede;
  content: '';
  height: 10px;
  left: 2px;
  position: absolute;
  transform: rotate(-45deg);
  transition: all .3s ease-in-out;
  width: 35px;
}

.arrow:hover::after {
  height: 18px;
  width: 50px;
  transition: all .3s ease-in-out;
}

/* About */

.about {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.me {
  padding: 35px 0;
}

.title {
  color: #dedede;
  font: 45px 'Trebuchet MS';
  font-weight: 900;
  margin: 10px auto;
}

.sub-title {
  color: #dedede;
  font: 25px 'Trebuchet MS';
  font-weight: 900;
  margin: 10px auto;
  transition: all .7s ease;
}

.sub-title:hover {
  color: #dedede;
  cursor: crosshair;
  font: 25px 'Trebuchet MS';
  font-weight: 900;
  margin: 10px auto;
  transform: scale(1.2);
  transition: all .7s ease;
}

.info-desc {
  color: #dedede;
  font: 20px 'Trebuchet MS';
  margin: 10px auto;
  max-width: 600px;
  padding: 10px 10px;
}

.info-general {
  display: flex;
  color: #dedede;
  font: 13px 'Trebuchet MS';
  margin: 10px auto;
  /* max-width: 600px; */
  padding: 10px 10px;
  text-align: left;
}

.info-item {
  padding: 16px 55px;
}

/* Experience // Skills */

.experience-skills {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  position: relative;
  transition: all 1s ease;
}

.skills {
  display: flex;
}

.icons {
  color: #dedede;
  margin-top: 150px;
  padding: 0px 65px;
  transition: all .3s ease;
}

.icons:hover {
  cursor: pointer;
  transform: scale(1.5);
  transition: all .3s ease;
}

/* PAGES - DEVELOPMENT */

.development-page {
  align-items: center;
  background: #d63b1f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  position: relative;
  transition: all 1s ease;
}

/* PAGES - PORTFOLIO */

.portfolio-page {
  align-items: center;
  background: #d63b1f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  position: relative;
  transition: all 1s ease;
}

/* PAGES - EDUCATION */

.education-page {
  align-items: center;
  background: #d63b1f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  position: relative;
  transition: all 1s ease;
}

/* PAGES - QUALIFICAÇÕES */

.qualification-page {
  align-items: center;
  background: #d63b1f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  position: relative;
  transition: all 1s ease;
}

/* PAGES - SKILLS */

.skills-page {
  align-items: center;
  background: #d63b1f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  position: relative;
  transition: all 1s ease;
}

/* Social Media */

.socialMedia {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  position: fixed;
}

.icon {
  color: #dedede;
  margin: 12px 12px;
  transition: all .5s ease;
}

.icon:hover {
  transform: scale(1.2);
  transition: all .5s ease;
}

/* Up */

.up {
  bottom: 0;
  color: #dedede;
  margin: 7px 32px;
  position: fixed;
  right: 0;
  transition: all .4s ease;
}

.up:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition: all .4s ease;
}

/* Language */

.language {
  top: 0;
  color: #dedede;
  margin: 0px 20px;
  position: fixed;
  right: 0;
  transform: scale(0.5);
  transition: all .6s ease;
  z-index: 2;
}

.language:hover {
  transform: scale(0.6);
  transition: all .4s ease;
}

/* Animation */

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-22px);
	}
	100% {
		transform: translatey(0px);
	}
}

/* Responsive */

@media (max-width: 1366px) {
  .me {
    margin-top: -20px;
    padding: 0;
  }

  .title {
    margin: 0;
  }

  .subtitle {
    margin: 7px auto;
  }

  .info-general {
    margin: 0 auto;
  }

  .info-desc {
    margin: 0;
    padding: 10px 10px;
  }

  .info-item {
    padding: 12px 55px;
  }

  .arrowExperience {
    transform: scale(0.7);
    margin-top: 1.8em;
  }
}

@media (max-width: 1024px) {
  .me {
    padding: 25px 0px;
  }

  .title {
    margin: 12px auto;
  }

  .sub-title {
    font: 28px 'Trebuchet MS';
  }

  .skills {
    flex-direction: column;
  }

  .icons {
    margin-top: 112px;
    padding: 0px 50px;
  }

  .info-general {
    font: 15px 'Trebuchet MS';
  }

  .info-desc {
    font: 33px 'Trebuchet MS';
    padding: 22px 0;
  }

  .info-item {
    padding: 20px 55px;
  }

  .arrowExperience {
    margin-top: 7em;
    transform: scale(1);
  }
}
