@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    display: grid;
    font-family: 'Rubik', sans-serif;
    grid-template-areas: "me content content";
}

.content {
    align-items: center;
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 2.2rem;
    text-align: center;
}

/* Side Content */

.side-content {
    background: $text;
    grid-area: me;
    height: 100vh;
    padding: 0 100px 0 60px;
}

.about-me {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.me {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.me > div > h1 {
    color: $background-side;
    font-size: 2.3rem;
    letter-spacing: 1px;
    margin: 5px 0;
}

.me > div > p {
    font-family: 'Roboto Mono', sans-serif;
    margin-top: 30px;
    max-width: 310px;
}

.social-media {
    align-self: flex-start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 15px -18px 0;
}

.social-media > a {
    background: $text;
    border-radius: 5px;
    margin: 10px 18px;
    transition: background .3s ease;

    &:hover {
        background: $line;
        transition: background .3s ease;
    }
}

.social-media > a > img {
    max-width: 80px;
    padding: 5px;
}


/* Main Content */

.main-content {
    background: $background-main;
    grid-area: content;
    height: 100vh;
    overflow-y: scroll;
}

.main-content > h2 {
    font-size: 2rem;
    font-weight: 600;
    margin: 15px auto;
}

.wrapper {
    margin: 0 auto;
    width: 75%;
}

.description {
    align-items: center;
    background: $text;
    border-radius: 5px;
    color: $background-side;
    display: flex;
    font-size: 1.4rem;
    font-weight: 900;
    justify-content: center;
    margin-top: 100px;
    padding: 10px;
    position: relative;

    &:before {
        color: $text;
        content: 'eai, beleza?';
        font: 600 1.8rem;
        position: absolute;
        top: -35px;
    }
}

.skills {
    color: $text;
    margin-top: 35px;
}

.skills > h2 {
    padding-bottom: 15px;
    padding-top: 10px;
}

.skills > ul {
    display: grid;
    grid-template-columns: 1fr;
}

.skills > ul > li {
    font-size: 1.6rem;
    list-style: none;
    padding: 15px 0;
    position: relative;
    text-align: center;
}


/* MQ - ESPECIAIS */



/* MQ - Tablet */

@include MQ-MAX($M) {
    .main {
        grid-template-areas: "me" "content";
    }

    h2 {
        font-size: 2rem;
    }

    /* Side Content */

    .side-content {
        border-right: none;
        height: auto;
        padding: 0;
    }

    .about-me {
        margin-top: 50px;
    }

    .me {
        flex-direction: row;
    }

    .social-media {
        grid-template-columns: repeat(6, 1fr);
        margin: 15px auto;
    }

    .social-media > a > img {
        max-width: 45px;
    }

    /* Main Content */

    .main-content {
        height: 100%;
    }

    .wrapper {
        width: 85%;
    }

    .description {
        margin-top: 60px;

        &:before {
            top: -30px;
        }
    }

    .skills > ul > li {
        font-size: 1.4rem;
    }
}


/* MQ - Smartphones */


@include MQ-MAX($S) {

    /* Side Content */

    .social-media > a > img {
        max-width: 40px; 
    }

    /* Main Content */
    
    .description {
        font-size: 1.1rem;
        margin: 55px auto 0px auto;
    }
}
