@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    display: grid;
    font-family: 'Roboto Mono', monospace;
    grid-template-areas: "me content content content";
}

/* Side Content */

.side-content {
    background: $background-side;
    border-right: 2px solid $line;
    grid-area: me;
    height: 100vh;
    padding: 0 30px;
}

.about-me {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.me {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.me > img {
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 170px;
    min-width: 70px;
}

.me > div > h1 {
    color: $text;
    font-size: 2rem;
}

.me > div > h2 {
    color: $text;
    font-size: 1.2rem;
}

.social-media {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 15px;
}

.social-media > a {
    background: $text;
    border-radius: 5px;
    margin: 10px;
    transition: background .3s ease;

    &:hover {
        background: $line;
        transition: background .3s ease;
    }
}

.social-media > a > img {
    max-width: 80px;
    padding: 5px;
}


/* Main Content */

.main-content {
    background: $background-main;
    grid-area: content;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
}

.description {
    background: $text;
    border-radius: 5px;
    color: $background-side;
    font-size: 1.4rem;
    font-weight: 900;
    margin: 60px auto 0px auto;
    padding: 10px;
    position: relative;

    &:before {
        color: $text;
        content: 'eai, beleza?';
        font: 600 1.8rem;
        position: absolute;
        top: -35px;
    }

    @include MQ-MAX($S) {
        font-size: 1.1rem;
        margin: 55px auto 0px auto;
    }
}


/* MQ - Tablet */

@include MQ-MAX($M) {
    .main {
        grid-template-areas: "me" "content";
    }

    /* Side Content */

    .side-content {
        border-bottom: 2px solid $line;
        border-right: none;
        height: auto;
        padding: 0;
    }

    .about-me {
        margin-top: 30px;
    }

    .me {
        flex-direction: row;
    }

    .me > img {
        margin: 0px 15px 0px 0px;
        max-width: 105px;
    }

    .social-media {
        grid-template-columns: repeat(6, 1fr);
        margin: 15px auto;
    }

    .social-media > a > img {
        max-width: 45px;
    }

    /* Main Content */

    .main-content {
        height: 100vh;
    }

    .description {
        &:before {
            top: -30px;
        }
    }

}


/* MQ - Smartphones */


@include MQ-MAX($S) {

    /* Side Content */

    .me > img {
        max-width: 70px;
    }

    .social-media > a > img {
        max-width: 40px; 
    }
}
