@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik:700&display=swap");
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

.main {
  display: grid;
  font-family: 'Rubik', sans-serif;
  grid-template-areas: "me content content"; }

.content {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

h2 {
  font-size: 2.2rem;
  text-align: center; }

/* Side Content */
.side-content {
  background: #694ca4;
  grid-area: me;
  height: 100vh;
  padding: 0 100px 0 60px; }

.about-me {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px; }

.me {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.me > div > h1 {
  color: #222222;
  font-size: 2.3rem;
  letter-spacing: 1px;
  margin: 5px 0; }

.me > div > p {
  font-family: 'Roboto Mono', sans-serif;
  margin-top: 30px;
  max-width: 310px; }

.social-media {
  align-self: flex-start;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 15px -12px 0; }

.social-media > a {
  background: #694ca4;
  border-radius: 5px;
  margin: 10px 12px;
  -webkit-transition: background .3s ease;
  -moz-transition: background .3s ease;
  transition: background .3s ease; }
  .social-media > a:hover {
    background: #7a5ab9;
    -webkit-transition: background .3s ease;
    -moz-transition: background .3s ease;
    transition: background .3s ease; }

.social-media > a > img {
  max-width: 80px;
  padding: 5px; }

/* Main Content */
.main-content {
  background: #1b1b1b;
  grid-area: content;
  height: 100vh;
  overflow-y: scroll;
  position: relative; }

.main-content > h2 {
  color: #694ca4;
  font: 1rem 'Roboto Mono';
  letter-spacing: 1.5px;
  margin: 15px 0;
  position: fixed;
  right: 40px; }

.wrapper {
  margin: 0 auto;
  width: 75%; }

.portfolio {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .portfolio.bege {
    background-color: #ebd4c2; }
  .portfolio h2, .portfolio h3 {
    color: #694ca4;
    letter-spacing: 1px; }

.portfolio-image {
  max-width: 750px;
  margin: 0 auto; }

.mockup {
  height: auto;
  margin: 0 auto;
  max-width: 100%; }

/* MQ - ESPECIAIS */
/* MQ - Tablet */
@media screen and (max-width: 768px) {
  .main {
    grid-template-areas: "me" "content"; }
  h2 {
    font-size: 2rem; }
  /* Side Content */
  .side-content {
    border-right: none;
    height: auto;
    padding: 0; }
  .about-me {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 50px 0 0 45px; }
  .me {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .social-media {
    grid-template-columns: repeat(6, 1fr);
    margin: 20px -12px; }
  .social-media > a > img {
    max-width: 45px; }
  /* Main Content */
  .main-content {
    height: 100%; }
  .main-content > h2 {
    position: absolute; }
  .wrapper {
    width: 85%; } }

/* MQ - Smartphones */
@media screen and (max-width: 414px) {
  /* Side Content */
  .about-me {
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto; }
  .me {
    margin-top: 30px;
    text-align: center; }
  .social-media {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }
  .social-media > a > img {
    max-width: 40px; }
  /* Main Content */ }

@media (max-width: 420px) {
  .social-media {
    grid-template-columns: repeat(3, 1fr); } }
